<div class="campos">
    <div class="informacion-venta">
        <div class="lado-izquierdo">

            <div class="titulo-central-modal">
                <p  id="apodoEditar" >{{nombre}}</p>
            </div>

            <div class="contenedor-foto-perfil-modal">
                <div class="foto-perfil">
                    <img src="../img/undraw_male_avatar_g98d.svg" alt="">
                </div>
            </div>

         </div>
        <div class="contenido-venta">
            <div class="campo compania">
                <div class="texto">
                    <p>Nombre Completo:</p>
                </div>
                <div class="entrada">
                    <input type="text" placeholder="Nombre Completo" id="nombre_completo" value="{{nombre_completo}}" />
                </div>
            </div>
            <div class="campo compania">
                <div class="texto">
                    <p>Cedula:</p>
                </div>
                <div class="entrada">
                    <input type="text" placeholder="Nombre Completo" id="cedula" value="{{cedula}}" />
                </div>
            </div>
            <div class="campo compania">
                <div class="texto">
                    <p>Rol:</p>
                </div>
                <div class="entrada">
                    <input type="text" placeholder="Nombre Completo" id="rol" value="{{rol}}" />
                </div>
            </div>
            <div class="campo compania">
                <div class="texto">
                    <p>Empresa:</p>
                </div>
                <div class="entrada">
                    <input type="text" placeholder="Nombre Completo" id="empresa" value="{{empresa}}" />
                </div>
            </div>
        </div>
    </div>
</div>