<div class="campos">
    <div class="informacion-venta">
        <!-- Sección Información Personal -->
        <div class="seccion">
            <h3 class="seccion-titulo">Información Personal</h3>
            <div class="contenido-seccion">
                <div class="campo compania">
                    <div class="texto">
                        <p>Nombre Completo:</p>
                    </div>
                    <div class="entrada">
                        <input type="text" placeholder="Nombre Completo" id="nombre_completo" />
                    </div>
                </div>

                <div class="campo compania">
                    <div class="texto">
                        <p>Número de Documento:</p>
                    </div>
                    <div class="entrada">
                        <input type="text" placeholder="Número de Documento" id="numero_documento" />
                    </div>
                </div>

                <div class="campo compania">
                    <div class="texto">
                        <p>Correo Electrónico:</p>
                    </div>
                    <div class="entrada">
                        <input type="email" placeholder="Correo Electrónico" id="correo_electronico" />
                    </div>
                </div>

       
                <div class="campo compania">
                    <div class="texto">
                        <p>Contraseña:</p>
                    </div>
                    <div class="entrada">
                        <input type="password" placeholder="Contraseña" id="contraseña" />
                    </div>
                </div>

                <div class="campo compania">
                    <div class="texto">
                        <p>Rol:</p>
                    </div>
                    <div class="entrada">
                        <select id="rol">
                            <option value="admin">admin</option>
                            <option value="banco">banco</option>
                            <option value="asesor">asesor</option>
                            <option value="calidad">calidad</option>

                        </select>
                    </div>
                </div>

                <div class="campo compania">
                    <div class="texto">
                        <p>Nombre empresa:</p>
                    </div>
                    <div class="entrada">
                        <input type="text" placeholder="Nombre empresa" id="empresa" />
                    </div>
                </div>

                <!-- <div class="campo compania">
                    <div class="texto">
                        <p>Foto:</p>
                    </div>
                    <div class="entrada">
                        <input type="file" id="archivos_adjuntos"/>
                        <small>Puede seleccionar múltiples archivos (PDF, DOC, DOCX, JPG, PNG)</small>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>