@import url(normalice.css);
/* @import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap"; */
/* @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Raleway';
    line-height: 1.6;
    user-select: none;
}

a{
    color:black
}


:root{
    --fondo: #f2f2f2;
    --blanco: #ffffff;
    --negro: #191919;
    --primario: #22c55e;
    --hover-primario: #16a34a;
    --gris: #EFF0F8;
    --rojo: red;
}

.pagina{
    background-color: #ffffff;
}

a, button{
    cursor: pointer;
}

button{
    border: none;
    background-color: transparent;
}

.btn-danger, .btn-success, .btn-black{
    padding: 0.5vw;
    color: var(--blanco);
    border-radius: 0.5vw;
    margin: 15px;
    font-size: 1vw;
    width: auto;
    min-width: 10vw;
}

.btn-danger{
    background-color: var(--rojo);
}

.btn-success{
    background-color: var(--primario);
}

.btn-black{
    background-color: var(--negro);
}

.color-azul{
    background-color: cyan;
}