@import url(./global.css);

.pagina .contenedor-pagina {
    display: grid;
    grid-template-areas:
        "menu-opciones contenido-pagina";
    grid-template-columns: 15vw 85vw;
    height: 100vh;
}

.contenedor-pagina .contenido-pagina{
    grid-area: contenido-pagina;
    display: flex;
    flex-direction: column;
    margin: 1vw;
    padding: 0 1vw;
    row-gap: 1.5vw;
}
